.menuLink{
    display: none;
    position: relative;
    top: 1.2rem;

}

.sidebar{
    z-index: 1;
    position: fixed;
    top: 70px;
    min-width: 300px;
    display: none;
}

.heading{
    white-space: nowrap;
    margin: 1rem;
}
@media (max-width: 768px){

    .menuLink{
        display: block;
    }

    .sidebar{
        display: block;
    }
}