.menuLink{
    display: none;
    position: relative;
    top: 1.2rem;

}

.sidebar{
    display: none;
    position: relative;
}

.heading{
    white-space: nowrap;
    margin: 1rem;
}
@media (max-width: 768px){

    .menuLink{
        display: block;
    }

    .sidebar{
        z-index: 1;
        position: absolute;
        top: 125%;
        /* right: 0; */
        width: 300px;
        min-height: calc(100vh - 130%);
        /* background-color: var(--bg); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow: hidden;
        transition:height 0.5s ease-in-out;
    }
}