.imgCnt{
  width: fit-content;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(147, 51, 234);
  border-width: 5px;
}

.img{
  /* width: 100%; */
  border-radius: 50%;
}