.container{
    min-width: 320px;
    background: rgba(18,30,49,0.3) ;
    height: calc(100vh - 50px);
    box-sizing: border-box;

}

@media (max-width: 800px) {
   .container{
    display: none;
   }
}